		/*all the styling has been done here*/
			* {	box-sizing: border-box; }
			html {
				height : 100%;
			}
			body {
				display: grid;
				grid-template-columns: 75% 25%;
				grid-template-rows: 99vh;
				grid-gap: 0.2em;
				}
			body {
  				margin: 0 auto;
			  	max-width: 99vw;
  				
			}
			
			main {
	  			background: #eaeaea;
  				display: flex;
  				align-items: center;
				justify-content: center;
			}
			aside {
	  			background: #eaeaea;
  				display: grid;
				align-items: top;
				grid-template-rows : 5vh;
				justify-content: center;
				padding-top : 5px;
			}

			#Instructions{
				background: rgba(255,255,0,0.3);
				border-radius: 5px;
				font-weight: bold;
			}

			.Button{
				display: inline-block;
				border-radius: 5px;
				width: 24%;
				text-align: center;
				padding-left: 1px;
			}

			.control_button{
				display: inline-block;
				border-radius: 5px;
				width: 32%;
				top: 230%;
				padding-right: 10px;
				border-collapse: separate;
				border-spacing: 15px;
				text-align: center;
			}

			.box { 
				border : 1px solid black ;
				padding : 1vmin 1vmin ;
				background-color: rgba(200,200,200,0.2);
			 }

			.row {
				display : flex ;
				justify-content: center ;
			}
			
			footer {
    				/*color: #333;*/
				font-size: 70%;
				text-align: center;
				position: fixed;
				/*width: 200px;*/
				bottom: 10px;
				left: 81%;
   		    		/*margin-left: -100px;*/
				background: rgba(255, 0, 255, 0.1);
				padding: 5px;
				border-radius: 5px;
			}
